.menu {
  z-index: 3;
  display: flex;
  flex-direction: column;
  background: lavender;
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  ul {
    li {
      list-style: none;
      text-transform: uppercase;
      width: 10rem;
      margin: 1rem 0;
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
        color: #f2883b;
      }
    }
  }
}
