.standing {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #f2f2f2;
}

.standing-title {
  padding: 4rem 0rem 3rem 1rem;
  h2 {
    margin-bottom: 0.7rem;
    font-size: 2.3rem;
  }
  div {
    width: 150px;
    border-bottom: 4px solid #f2883b;
  }
}

.tab-container {
  min-height: 100vh;
  padding-top: 2.5rem;
  border-top: 4px solid #f2883b;
}

.tab-btn {
  margin-left: 2rem;
  .btn {
    text-transform: uppercase;
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
    font-weight: bold;
    background: transparent;
    border: none;
    &:active {
      outline: none;
      color: white;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
    &:not(.active-btn):hover {
      color: #f2883b;
    }
  }
  .active-btn {
    background: #f2883b;
    color: white;
  }
}

.standing-table {
  width: 98%;
  margin: auto;
}

.standing-table-row {
  width: 100%;
  display: grid;
  grid-template-columns: 4% auto 4% 6% 4% 4% 4% 6% 5%;
  border-radius: 1px;
  padding: 0.4rem 1rem;
  font-size: 0.8rem;
  font-weight: bolder;
  .logo {
    height: 2rem;
    width: 2rem;
  }
  .team-logo {
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
    }
    img {
      object-fit: contain !important;
    }
  }
}

.table-row {
  border-top: 1px solid rgba($color: #c0bcbc, $alpha: 0.4);
  background: white;
  div {
    display: flex;
    align-items: center;
  }
  .pos {
    color: green;
  }
  .neg {
    color: red;
  }
}

.conference-table {
  h2 {
    font-size: 1rem;
    padding-bottom: 1.1rem;
    margin: 0;
  }
  > div {
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 1320px) {
  .standing-table-row {
    grid-template-columns: 6% auto 6% 8.5% 4% 4% 4% 10% 6%;
  }
}

@media only screen and (max-width: 850px) {
  .standing-table-row {
    grid-template-columns: 8% auto 8% 11% 5% 5% 5% 13% 7%;
  }
}

@media only screen and (max-width: 680px) {
  .standing-table-row {
    grid-template-columns: 9% auto 8% 14% 5% 5% 5% 15% 9%;
  }
}

@media only screen and (max-width: 550px) {
  .standing-table-row {
    grid-template-columns: 9% auto 8% 14% 7% 7% 7% 14% 8%;
    font-size: 0.65rem;
  }
}
